/*
__TAGS__: DEFAULT, BASIC
*/


*[display_only="true"] {
    border: 2px solid black;
    border-radius: 2px;
    padding: 0 8px;
    background: lightgray;
    selection-background-color: darkgray;
}

*[is_title_label="true"]{
    color: green;
}