@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code VF";
    src: url("../fonts/FiraCode-VF.ttf") format('truetype-variations');
    font-weight: 300 700;
    font-style: normal;
}


.admonition-see {
    border-left: .2rem solid #b6ddff96;
    background-color: #b6ddff21;
    ;
}

.admonition-see p.admonition-title {
    background-color: #b6ddff96;
}

.content {
    width: 75em;
}

.sidebar-drawer {
    width: calc(40% - 26em)
}

pre {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    background-color: rgb(10, 20, 5);
    background-image: radial-gradient(rgba(30, 100, 15, 0.75), rgba(15, 25, 7, 0.25) 125%);
    color: white;
    text-align: left;
    text-shadow: 0 0 3px rgb(100, 100, 100);
    padding: 25px;
    cursor: text;
    font-smooth: never;
    border: 5px ridge rgba(200, 200, 200, 0.66);
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    text-align: left;
}

@supports (font-variation-settings: normal) {
    pre {
        font-family: 'Fira Code VF', monospace;
        font-weight: 500;
        background-color: rgb(10, 20, 5);
        background-image: radial-gradient(rgba(30, 100, 15, 0.75), rgba(15, 25, 7, 0.25) 125%);
        color: white;
        text-align: left;
        text-shadow: 0 0 3px rgb(100, 100, 100);
        padding: 25px;
        cursor: text;
        font-smooth: never;
        border: 5px ridge rgba(200, 200, 200, 0.66);
        border-radius: 5px;
        -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
        text-align: left;
    }
}

.highlight {
    height: 150%;
    width: fit-content;
    min-width: 75%;
    text-align: left;

    font-size: 0.85em;

}

.highlight pre {
    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    text-align: left;


}


pre::selection {
    background: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

pre span::selection {
    background: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.short-description {
    background-color: rgba(125, 125, 125, 0.1);
    padding: 5px;
    border: solid 2px black;
    text-align: center;
}


.short-description p:first-child::first-letter {

    font-size: 30px;
    font-weight: bold;
}



.code-example pre {
    font-family: 'Fira Code', monospace;
    background-color: rgb(10, 10, 25);
    background-image: radial-gradient(rgba(10, 20, 75, 0.75), rgba(0, 0, 0, 0.25) 120%);
    color: rgb(20, 20, 75);
    text-shadow: 0 0 5px rgb(20, 20, 75);

    padding: 25px;
    cursor: text;
    font-smooth: never;
    border: 3px ridge rgba(200, 200, 250, 0.66);
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);


}


dl.glossary dt,
dl.simple dt {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: monospace;
}